# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Snakemake
.snakemake/
.snakemake_timestamp

# OS/editor
.DS_Store
.idea/
.vscode/

# Environments
.venv/
venv/
env/

# Logs
*.log
